@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-prime-white-2 fill-prime-white-2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.letterAnimation {
  will-change: transform;
}

.backdrop-blur-new {
  background: rgba(0, 0, 0, 0.808);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(16px);
}

.hero-title {
  font-size: clamp(30px, 7vw, 9vw);
}

.mid-title {
  font-size: clamp(20px, 4vw, 6vw);
}

.sub-title {
  font-size: clamp(8px, 1.5vw, 1.8vw);
}

.font-dm {
  font-family: "DM Serif Display", "Montserrat";
}

.font-mont {
  font-family: "Montserrat", serif;
}

body {
  position: relative;
  font-family: "Montserrat";
  overflow-x: hidden;
  @apply bg-prime-dark-2
}

canvas {
  display: block;
}

nav {
  @apply flex justify-between h-[13vh] sm:h-[10vh] items-center p-5 z-50;
}

nav img {
  @apply h-full object-cover;
}

.profile {
  @apply h-full rounded-2xl p-3 bg-slate-100 aspect-square flex justify-center items-center;
}

.profile svg {
  @apply h-2/3 w-2/3;
}

.sidenav {
  @apply fixed top-0 right-0 w-full -z-30 h-screen transition-all duration-700 flex p-4;
}

.sidenav .leftSideNav {
  @apply flex flex-col text-9xl p-4 w-[90%] justify-center font-black uppercase pl-20;
}

.sidenav .rightSideNav {
  @apply flex flex-col font-light items-center text-2xl p-4 w-[10%];
}

.sphere canvas {
  opacity: 0;
}